* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(15, 15, 15);
	color: white;
}
h2,
p {
	padding: 5px;
}

.wallpaper {
	width: 50%;
	height: 50vh;
	background-image: url('https://source.unsplash.com/1600x900/?nature,water');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
